{% load staticfiles %}

{% if mode == 'multi' %}
<object  type="application/x-shockwave-flash" data="{% static 'karhu/flash/player_mp3_multi.swf' %}" width="{{width}}" height="{{height}}">
	<param name="movie" value="{% static 'karhu/flash/player_mp3_multi.swf' %}" />

{% else %}

<object type="application/x-shockwave-flash" data="{% static 'karhu/flash/player_mp3_maxi.swf' %}" width="{{width}}" height="{{height}}">
	<param name="movie" value="{% static 'karhu/flash/player_mp3_maxi.swf' %}" />

			
{% endif %}
			
	<param name="wmode" value="transparent" />
	<param name="FlashVars" value="{{options}}" />	 
</object>
			