

.ng-fady {
	opacity: 1;
}

.ng-fady {
  -webkit-transition:all linear 1s;
  transition:all linear 1s;
}

.ng-fady.ng-hide {
  opacity:0;
}



/*  ---------  */
/*  ---------  */
/*  ---------  */
/*  ---------  */
/*  ---------  */
/*  ---------  */
/*  ---------  */
