h1, h2, h3, h4, h5 {
	font-family: georgia;
}
h1 {
	zcolor: #697385;
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: -10px;
	
}

.error.form-control {
    background: #FFE2E3;
    border-color: #770003;
}

strong, th {
	font-weight: bold;
}

p {
	margin-bottom: 10px;
}
ul, ol {
	margin-bottom: 10px;
}
ul li {
	list-style: disc inside;
	margin-bottom: 5px;
}

.centered {text-align: center}
.lefted {text-align: left}
.righted {text-align: right}
.clickable {cursor: pointer;}
.underline {text-decoration: underline}

.note {
	font-style: italic;
}

.btn {
	position: relative;
}
.btn .spinner {
	background: url(../images/throbber-button.gif) no-repeat center center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}

.transparent {
	opacity: 0;
}
table {
	
}

.wide {
	width: 100%;
}
thead {
	background: linear-gradient(#989fab, #7C8696) repeat scroll 0 0 rgba(0, 0, 0, 0);
	text-align: center;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	
}


td, th {
	zpadding: 7px 10px;
	zborder: 1px solid #BFC1C6;
}

table .table-title {
  float: left;
    font-size: 1.3em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.throbber-bar {
	background: url(../images/throbber-bar.gif) no-repeat top left;
	display: inline-block;
	width: 220px;
	height: 19px;
}

h1 .throbber {
	position: absolute;
	left: -25px;
	top: 7px;
	background: url(../images/throbber-small-dark.gif) no-repeat top left;
	display: inline-block;
	width: 16px;
	height: 16px;
	
}

.relative {
	position: relative;
}

form td, form th {
	bordeR: 0;
	vertical-align: middle;
}
/* --------------------- */

/*
button, .button {
  	background: linear-gradient(#989fab, #7c8696) repeat scroll 0 0 rgba(0, 0, 0, 0);
  	background: linear-gradient(#8AA8CC, #6382A5) repeat scroll 0 0 rgba(0, 0, 0, 0);
  	
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #959CA9;
    border-color: #B2B8C1 #5B6577 #5B6577 #B2B8C1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    cursor: pointer;
    display: inline-block;
    
    
}
*/

.icon.mini {
	background: none;
	box-shadow: none;
	color: silver;
	cursor: pointer;
}

.icon.mini.btn-danger {
	color: #c12e2a;
}




.btn .icon {
	background: none;
	height: auto;
	width: auto;
	line-height: 0;
	padding: 0;
	position: relative;
	top: 2px;
	font-size: 30px;
}
/*
.button:hover, button:hover {
	text-decoration: none;
	opacity: 1;
	background: #8AA8CC;
}
*/

.button.pressed, button.pressed, button:active, .button:active {
	border-color: #5B6577 #B2B8C1 #B2B8C1  #5B6577;
}
button[disabled] {
	opacity: 0.5;
	cursor: default;
}
form label {
	display: block;
	margin-bottom: 5px;
	color: #505C70;
}
input {
	border: 1px solid #9199A6;
	border-radius: 2px;
	color: #3C4451;
	padding: 5px 10px;
	font-size: 16px;
	width: 200px;
}

label input {
	width: auto;
	display: inline-block;
	margin-right: 5px;
	bordeR: auto;
}

form .row .note {
	 font-size: 1.2em;
    margin-bottom: 0.5em;
    margin-top: -0.3em;
}
.row {
	display: block;
	margin-bottom: 20px;
}

.clear {
    clear: both;
}

select {
	width: 220px;
	padding: 2px;
}
.buttons {
    clear: both;
	margin-top: 30px;
	
    /* some strange fieldset|form issues with available width */
    /* margin-right: -15px;*/
    
}

/* --------------------- */
input {
	box-shadow: none;
	background: none;
}
input.ng-invalid.ng-dirty {
    background-color: #FFE2E3;
    border-color: #770003;
  }
input.ng-valid.ng-dirty {
	background-color: #D8FFDC;

  }  

.errors {
	color: #B51F2D;
}

/* --------------------- */
.modal-content {
	position: relative;
}

.modal-actions {
	position: absolute;
	top: 5px;
	right: 5px;
}

.modal-actions button {
	padding: 0;
	height: 20px;
	width: 20px;
	font-size: 30px;
	line-height: 18px;
}

.help-source {
	display: none;
}

/* --------------------- */
.btn .glyphicon {
	font-size: 12px;
	margin-right: 5px;
	margin-left: -2px;
}
/* --------------------- */


.btn .fa {
/*    font-size: 12px;*/
/*    font-size: 15px;*/
    margin-left: -2px;
    margin-right: 5px;
    position: relative;
    top: 1px;
    font-size: 1.4em;
}

.textless .fa {
    margin: 0 -0.1em;
}

.textless.btn-sm .fa {
    margin: 0 -0.2em;
}
/* --------------------- */
.panel-heading .actions {
    position: absolute;
    ztop: 5px;
    zright: 5px;
    
    top: 3px;
    right: 3px;
    padding: 3px;
}
/* --------------------- */

/*  */

.horizontal .as-sortable-item,
.horizontal .as-sortable-placeholder {
    display: inline-block;
    float: left;
    z-index: 10;
/*    width: 124px;*/
/*    height: 110px;*/
/*    margin: 10px;*/
}

.as-sortable-placeholder {
  background: silver;
}

/*.horizontal .sortable-row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}*/

.horizontal.sortable-container {
    float: left;
    width: 100%;
/*    position: relative;*/
/*    display: inline-block;*/ 
/*    For some mystic reason position: relative works only if placed inline in html*/
}

.thumbnail .thumbnail-spinner {
	text-align: center;
	width: 100%;
	position: absolute;
	lefT: 0;
    top: 0;
    font-size: 6em;
    display: none;
}


.overlay-caption-thumbnails {
    
}
.overlay-caption-thumbnails .thumbnail,
.overlay-caption-thumbnails .thumbnail:hover,
.overlay-caption-thumbnails .as-sortable-placeholder {
    opacity: 1;
    cursor: default;
    border-color: #ddd;
    z-index: 1;
	float: left;
	margin: 0 20px 20px 0;
	padding: 10px;
	text-align: center;
    position: relative;    
}
.overlay-caption-thumbnails .thumbnail.clickable:hover{
    cursor: pointer;
    background: #D9EDF7;
    text-decoration: none;
}
.overlay-caption-thumbnails .thumbnail .img {
	display: block;
	position: relative;	
    border-radius: 0 5px 5px 5px;
    overflow: hidden;
}

.overlay-caption-thumbnails .thumbnail .caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 0 0 5px 5px;
    bottom: 10px;
    color: white;
    left: 10px;
    padding: 0;
    position: absolute;
    right: 10px;
    padding: 1.5em 0;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}

.overlay-caption-thumbnails .thumbnail .movebutton {
    position: absolute;
    right: 15px;
    top:15px;
}

.overlay-caption-thumbnails .thumbnail h3 {
	font-size: 1.6em;
    margin: 0;
}


.overlay-caption-thumbnails .adding-item .glyphicon {
    font-size: 8em;
}

..overlay-caption-thumbnails .thumbnail:hover .glyphicon {
    color: #004D7A;
}

.overlay-caption-thumbnails .thumbnail.processing .thumbnail-spinner{
	display: block;
	}
	
.overlay-caption-thumbnails .thumbnail.processing .img,
.overlay-caption-thumbnails .thumbnail.processing button,
.overlay-caption-thumbnails .thumbnail.processing .caption{ 
    opacity: 0;
}

.overlay-caption-thumbnails .thumbnail .img .badge,
.overlay-caption-thumbnails .item .img .badge {
	position: absolute;
	top: 5px;
	left: 5px;
	background: #5BC0DE;
	background: #f0ad4e;
    background: rgba(240, 173, 78, 1);
	font-size: 1.6em;
    font-size: 2em;
	color: black;
	color: white;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	border-radius: 0 5px 5px 5px;
    
    
    padding: 0;
    line-height: 30px;
    height: 30px;
    width: 30px;

	}

.panel-heading .fa-spin {
    font-size: 1.4em;
    margin-lefT: 0.5em;
}

.buttons .btn {
/*    margin-right: 0.8em;*/
}

.global-http-errors {
    font-size: 1.4rem;
    position: fixed;
    top: 7em;
    left: 10%;
    right: 10%;
    z-index: 3;
    
}


label.required:after {
  content:" *";
  color: #A30000;
}