
.strike {
	text-decoration: line-through;
	}
label {
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 0.2em;
	}
a.button, a.ui-button {
	color: inherit;
	
	}
		
#all .icon-only {
	overflow: hidden;
	/* if not, there is ugly dotted rectangles when clicked */
		
	}


	
/*---------------------*/


.lineup .item {
	margin-bottom: 2em;
	clear: both;
	float: left;
}

	
.lineup .item .name {
	font-size: 2em;
	line-height: 100%;
	}

.lineup .item .role {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0.1em;
	}

.lineup .item .img {
	float: left;
}

.lineup .item .info{
	float: left;
	margin-left: 2em;
	margin-bottom: 2em;
	}

.lineup .item .notes .note {
	margin-bottom: 0.1em;
	}

.lineup .item .notes .topic{
	font-weight: bold;
}

/*--------------------------*/
.person .img img{
	float: left;
	margin-bottom: 1em;	
	}
	
.person .img .help{
	float: left;
	margin-left: 2em;
	width: 600px;
	}
	
.person .notes td {
	padding: 10px 10px;
	}

.person .notes textarea {
	width: 20em;
	height: 5em;
	}
.person .add_topic_form {
	margin-top: 0.3em;
	clear: both;
	}	

/*----------------------------*/

.music .feed .album {
	margin-bottom: 1em;
	padding-bottom: 1em; 
	float: left;
	clear: both;
	}

.music .feed .album .left {
	float: left;
	overflow: hidden;
	text-align: center;
	}

	
.music .feed .right{
	float: left;
	padding-bottom: 2em;
	margin-left: 2em;
	position: relative;
	}

.music .feed .album .edit_buttons {
	padding: 1em 0;
	border-top: 1px dashed #cccccc;
	float: left;
	clear: both;
	margin-top: 1em;
	}


.music .feed .songs .song_title {
	padding-right: 1em;
	font-size: 1.3em;
	}

.music .feed .songs td {
	padding: 0.3em 0.5em;
	border: 0;
	vertical-align: middle;
	}


.album_edit .cover img {
	display: block;
    margin-bottom: 1em;
	}	

.album_edit .cover .image {
	position: relative;
	display: inline-block;
    text-align: center;
}
.album_edit .cover .image button {
	position: absolute;
	top: 10px;
	right: 10px;
	}	

.album_edit .cover button {
    display: block;
}

.album_edit .cover input {
	width: auto;	
	}	
/*----------------------------*/


.gallery_whole .item {
	position: relative;
	padding-left: 4em;
	margin-bottom: 2em;
	width: 100%;
	float: left;
}

.gallery_whole .actions {
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
}

.gallery_whole .actions .btn{
	display: block;
	margin-bottom: 0.5em;
}

.gallery_whole .item .img{
	float: left;
	margin-right: 2em;
	text-align: left;
	text-decoration: none;
	position: relative;
}

.gallery_whole .item .info{
	float: leftl;
}

.gallery_whole .item .info .title{
    font-family: times New Roman;
    font-size: 1.8em;
}

.gallery_whole .item .info .size {
	font-size: 1.2em;
	}
.gallery_whole .item .info .size  strong{
	font-size: 1.2em;
	}

.gallery_whole .thumbnail .img .badge,
.gallery_whole .item .img .badge {
	position: absolute;
	top: 5px;
	left: 5px;
	background: #5BC0DE;
	background: #f0ad4e;
	font-size: 1.6em;
	color: black;
	color: white;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	text-shadow: 1px 1px 0px rgba(0,0,0,0.7);
	border-radius: 0 5px 5px 5px;

	}
.gallery_whole {
}


.gallery_whole .thumbnail {
	float: left;
	margin: 0 20px 20px 0;
	padding: 10px;
	text-align: center;
}

.gallery_whole .thumbnail .img {
	display: block;
	position: relative;	
}

.gallery_whole .thumbnail .caption{
	width: 100%;
	

	}

.gallery_whole .thumbnail h3 {
	font-size: 1.6em;
	margin-bottom: -10px;
}

/*--*/


.folder_edit .thumbnail {
	float: left;
	margin: 0 10px 10px 0;
	padding: 0;
	position: relative;
    z-index: 1;
}
.folder_edit .as-sortable-placeholder {
    margin: 0 10px 10px 0;
}
.folder_edit .thumbnail .wrapper {
	padding: 5px;
}

.folder_edit .thumbnail .caption {
	padding: 5px 0;
	

}

.folder_edit .thumbnail .img {
	position: relative;
	text-align: center;
}

.folder_edit .thumbnail .img button {
	position: absolute;
	top: 5px;
	right: 5px;
}

.folder_edit .thumbnail .img .as-sortable-item-handle {
    right: auto;
    left: 5px;
}

.folder_edit .thumbnail.processing .img,
.folder_edit .thumbnail.processing .caption {
	opacity: 0;
}

.folder_edit .thumbnail .throbber{
	text-align: center;
	width: 100%;
	position: absolute;
	top: 40%;
	lefT: 0;
	display: none;
	}
	
.folder_edit .thumbnail .btn-danger {
	float: right;
}	

.folder_edit .thumbnail.processing .throbber {
	display: block;
	}
	
.folder_edit .adding-item .wrapper{
	padding-bottom: 43px;	
	
}
.folder_edit .adding-item:hover {
	cursor: pointer;
	background: #D9EDF7;
}
.folder_edit .adding-item  .add-place {

	}
.folder_edit .adding-item  .glyphicon {
	font-size: 5em;
	position: absolute;
	lefT: 0;
	width: 100%;
	top: 50%;
	}
	
.folder_edit .adding-item input {	
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.folder_edit  .drop-interface {
	position: relative;
	float: left;
	width: 100%;
	padding: 20px 20px;	
	
	text-align: center;
}

.folder_edit  .drop-interface .wrapper {
	margin: 10px;
	
} 


.folder_edit  .drop-interface .glyphicon {
	font-size: 7em;
	position: absolute;
	lefT: 0;
	width: 100%;
	top: 50%;
	opacity: 0.2;
	margin-top: -0.5em;
	
	
}

.folder_edit  .drop-interface .help {
	font-size: 2em;
}


/*------------------------*/

.slots_and_pagelets .column{
	float: left;
	width: 48%;
	margin-right: 1.8%;

	}
		
	
.slots_and_pagelets .panel-body {
	font-size: 14px;

	}
		
.slots_and_pagelets .caption h3 {
    margin-top: 0;
}
	
.slots_and_pagelets .url {
	margin-bottom: 5px;

	}

.slots_and_pagelets ul {
	margin: 0;

	}

.slots_and_pagelets li {
	margin-bottom: 2px;
	line-height: 100%;

	}
.slots_and_pagelets .buttons {
	position: absolute;
	bottom: 10px;
	right: 10px;
	text-align: right;

	}

.slots_and_pagelets .pagelets .thumbnail.bg-info {
	background: #D9EDF7;
}


.slots_and_pagelets .caption {
	font-size: 0.9em;
}

.slots_and_pagelets .thumbnail h3 {
	font-size: 1.3em;
	line-height: 100%;
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	
}

.slots_and_pagelets .thumbnail {
	position: relative;
	zpadding-bottom: 40px;
}

.slots_and_pagelets .thumbnail .buttons {
	position: absolute;
	bottom:5px;
	right: 5px;
	margin: 0;
	padding: 0;
}


/*---------*/


	
#indexpage .cards {
	padding: 6em 0 4em 0;
	float: left;
	width: 100%;
}

#indexpage .column {
    min-width: 37em;
}

#indexpage .cards .card {
	position: relative;
	padding: 1em 2em 1em 9em;
	border: 2px solid #5783AF;
	border-radius: 5px;
	width: 30em;
	float: left;
	margin-bottom: 2em;
	zmargin-left: 2em;
	text-decoration: none;
	min-height: 7em;
	min-height: 14em;
	
	font-size: 1.2em;
}

#indexpage .cards .fa {
	position: absolute;
	lefT: 25px;
	top: 15px;
	font-size: 5em;
}

#indexpage .cards .title {
	font-size: 1.6em;
	font-weight: bold;
	display: block;
	margin-bottom: 0.2em;
}

#indexpage .cards span {
	color: #5783AF;

	}
#indexpage .cards .note {
	font-size: 1.2em;
    line-height: 120%;
	color: #6F737F;
}


