body {
	background: black;
	color: #6f737f;
	font-family: calibri;
    background: #B3B3B3 url(../images/bg1.png)  top left fixed;
	
	}

a:link, a.ever:link, a.ever:visited, #header .menu a {
	color: #5783af;
	
	}

a:visited {
	color: #7f7f7f;
	}	
 a:hover, a:active, a.ever:hover {
 	
 	opacity: 0.8;
 }

 
#loading-bar-spinner {
    opacity: 0;
    z-index: -1;
    display: none !important;
}

/*-----------------------*/	
#all {
	margin: 0 auto;
	font-size: 10px;

	width: 100%;
	max-width: 130em;
	min-width: 100em;    
    
}

#page {
	float: left;
	width: 100%;
	font-family: arial;
    
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
    
    
	
	}


#header {
	-moz-border-radius: 0.5em 0.5em 0 0;
	-webkit-border-radius: 0.5em 0.5em 0 0;
	border-radius: 0.5em 0.5em 0 0;
	position: relative;
	overflow: hidden;
	z-index: 1;
    
	top: 0;
	padding-bottom: 1em;
	border-radius: 0;    
}
#header .iconmenu {
	background: #F9F9F9;
	padding: 1em;
	border-radius: 0 0 0.3em 0.3em;
	float: left;
}


#header .iconmenu.submenu {
	float: right;
}


#header .iconmenu, #main, #footer {
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

	}


#header .iconmenu a, #header .iconmenu a:link {
	width: auto;
	height: auto;
	font-size: 4em;
	display: inline-block;
	text-align: center;
	opacity: 0.8;
	text-decoration: none;
    padding: 0.05em;
	margin: 0 0.4em;
    outline: 0;

	}

#header .iconmenu a:hover {
	opacity: 0.5;
/*    transform: rotate(-10deg);*/
    opacity: 1;

	}
#header .iconmenu a.active:hover {
	opacity: 1;
	}

#all .iconmenu .active {
	color: #004D7A;
	opacity: 1;
	
}	
/*-------------------------*/
#main {
	float: left;
	width: 100%;
	box-shadow: 0 0 10px rgba(0,0,0, 0.2);
	
	zbackground: linear-gradient(center top , #F8F6F1 1em, white);	
	background: #F9F9F9;
	background: white;
	border-radius: 3px;
    position: relative;
}

#main-wrapper {
	margin: 0em 6em;

}
#root-view-container {
    position: relative;
    float: left;
    width: 100%;
    padding: 2em 0;
}

#root-view {
    zposition: absolute;
}


h2 {
	margin-bottom: 0.5em;
	font-size: 1.8em;
	font-weight: normal;
	}

/*---------------*/
#footer {
	background: #f1f1f1;
	clear: both;
	padding: 1em 0;
	border-top: 0.1em solid silver;
	text-align: center;
	-moz-border-radius: 0 0 0.5em 0.5em;
	-webkit-border-radius: 0 0 0.5em 0.5em;
	border-radius: 0 0 0.5em 0.5em;
	background: #F8F6F1;
	margin: 0 6em;
}


.state-spinner {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 10em;
    color: #5783AF;
}


.system-template {
    padding-top: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: silver;
    
}

.system-template .panel {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}