.widget {
	margin: 0 auto;
	width: 360px;	
}

.widget-header,
.widget-content, 
.widget-footer {
	float: left;
	width: 100%;
	padding: 10px 0;
}
.widget-header-wrapper,
.widget-content-wrapper,
.widget-footer-wrapper {
	margin: 0 30px;

}
	
.widget-header {
	background: linear-gradient(#989fab, #687284);
	color: white;
	border-radius: 3px 3px 0 0;
}
.widget-header-wrapper {
	
}

.widget-content {
	background: white;
}


.widget-content-wrapper {

	}


.widget-footer {
	background: white;
	border-radius: 0 0 3px 3px;
}

.widget-footer-wrapper {

	}
	
	
form {
	zwidth: 223px;
	zmargin: 0 auto;

	}
	
.buttons {
	ztext-align: right;
}


/*  ------------ */
.pager {
	float: right;
	margin: 0;	
}

.pager button {
	padding: 5px 8px;
	font-size: 14px;
	line-height: 100%;
	
}
.pager .pages button {
	margin: 0 2px;
}
/*  ------------ */
/*  ------------ */
/*  ------------ */
/*  ------------ */