
<div class="help-source">
	<div id="url-help">

	<p>
	Это адрес, по которому страница будет доступна. Правильный адрес должен содержать только латиницу, цифры и_знак_подчеркивания. 
	<br/>
	Также он должен начинаться и заканчиваться символом "/", но его система может пририсовать самостоятельно.
	</p>
	<p>
	Будьте внимательны:</p>
	<ul>
		<li>написать сюда вы можете всё что угодно, но некорректные адреса просто не будут работать</li>
		<li>при изменении адреса страница, разумеется, перестаёт отдаваться по прошлому. Это может кого-нибудь опечалить.</li>
		<li>не используйте адреса, уже занятые каким-либо модулем сайта. Результат совпадения не всегда предсказуем, но вряд ли вам понравится.</li>
</div>						
</div>

		

<div class="pagelet_edit">
<form name="pageletForm" action="">
	
	<h1 ng-show="::pagelet.id">Редактирование страницы</h1>
	<h1 ng-hide="::pagelet.id">Создание страницы</h1>


  	<div class="form-group" style="margin-bottom: 10px;">
  		<label class="control-label">Название</label>
  		<input type="text" ng-model="pagelet.title" class="form-control" required/>
  	</div>		
  	
  	<div class="form-group" style="margin-bottom: 10px;">
  		<label class="control-label">Url
  		<help-button source="url-help"></help-button>
  		</label>
  		
  		<input type="text" ng-model="pagelet.url" class="form-control" required />
  	</div>	
  	
  	
  	<div class="form-group" style="margin-bottom: 10px;">
  		<label class="control-label">Текст</label>
        <div text-angular ta-toolbar="toolbar" ng-model="pagelet.content"></div>
        
<!--  		<textarea type="text" ng-model="pagelet.content" class="form-control"></textarea>-->
  	</div>			  	
  			  	


<div class="buttons">
	<a class="btn btn-default" ui-sref="pagelets.list">
		<span class="fa fa-mail-reply"></span>
		Вернуться к списку
	</a>
	<button type="button"
            class="btn btn-success" 
            ng-click="save(pageletForm)"
            ng-disabled="is.deleting || pageletForm.$invalid">
            <span spinner-when="is.saving">
                <span class="fa fa-check"/>
                Сохранить
            </span>
    </button>
	<button type="button"
            class="btn btn-danger" 
            confirmable-click="deletePagelet()" 
            ng-show="pagelet.id"
            ng-disabled="is.saving">
            <span spinner-when="is.deleting">
                <span class="fa fa-trash"/>
                Удалить
            </span>
    </button>
		
	
</div>
</form>
</div>


