

<form class="pagelet_edit" action="" name="slotForm">

	<div class="panel panel-default">
	  <div class="panel-heading">
			<div class="panel-title">
				<span ng-show="::slot.id">Редактирование слота</span>
				<span ng-hide="::slot.id">Создание слота</span>
			</div>
		</div>
	  <div class="panel-body">
			
          <p class="alert alert-warning" ng-hide="::slot.id">Имейте в виду, что содержимое добавленных слотов не будет видно без ручного вмешательства в вёрстку сайта, поэтому, увы, самостоятельно создавать новые бессмысленно.</p>

		  	<div class="input-group" style="margin-bottom: 10px;">
		  		<span class="input-group-addon" style="width: 160px;">Название слота</span>
		  		<input type="text" 
                       ng-model="slot.title" 
                       class="form-control" 
                       style="width: 400px;"
                       required/>
		  	</div>		
		  	<div class="input-group" style="margin-bottom: 10px;">
		  		<span class="input-group-addon" style="width: 160px;">Содержимое слота (pagelet: {{slot.pagelet}})</span>
		  		<form-dropdown options="available_pagelets" 
                               model="local.selectedPagelet" 
                               textfield="title"/>
                
		  	</div>
	  </div>
	</div>	
	

<div class="buttons">
	<a class="btn btn-default" ui-sref="pagelets.list">
		<span class="fa fa-mail-reply"></span>
		Вернуться к списку
	</a>
	<button class="btn btn-success" 
            ng-disabled="is.saving || is.deleting || slotForm.$invalid"
            ng-click="save()">
        <span spinner-when="is.saving">
            <span class="fa fa-check"/>
            Сохранить
        </span>
    </button>
	<button class="btn btn-danger" 
            ng-disabled="is.saving || is.deleting"
            confirmable-click="deleteSlot()" 
            ng-show="slot.id">
            <span spinner-when="is.deleting">
                <span class="fa fa-trash"/>
                Удалить
            </span>
    </button>
		
	
</div>

</div>



