<!-- 
<simple-table 
	pagination="paginationSettings"
	rows="events" 
	columns="[
	{text: 'Дата', css: 'width: 100px;'}, 
	'Тип', 
	'Агент', 
	'Объект', 
	'Данные'
	
	]"></simple-table>

 -->
 
<table class="wide">
<thead>
	<tr>
		<td colspan="5">
			<span class="table-title">Заголовок таблицы</span>
		
			<widget-pagination  items="rows" 
								resource="resource"
								itemsperpage="itemsPerPage"
								filterparams="filter.data"></utils-pagination>
		</td>
	</tr>
	
	<tr>
		<td style="width: 100px;">Дата</td>
		<td>Тип</td>
		<td>Агент</td>
		<td>Объект</td>
		<td>Данные</td>
	</tr>
</thead>

<tbody>
<!-- 
<tr ng-repeat="item in rows">
	<td ng-repeat="cell in item">{{cell}}</td>
</tr>
 -->

<tr ng-repeat="item in rows">
	<td>{{item.date}}</td>
	<td>{{item.type}}</td>
	<td>{{item.agent}}</td>
	<td>{{item.object}}</td>
	<td>{{item.data}}</td>
</tr>
 
</tbody>
</table>
 