
<div class="panel panel-default" style="width: 400px; margin: 0 auto;">

    <!--
	<div class="panel-heading">
		<div class="panel-title">Login</div>
	</div>
    -->
    <div class="panel-body">
        
        <div class="col-xs-12">
		<form action="#" method="post" name="loginform" style="">
            
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 100px;">Login</span>
                    <input type="text" class="form-control" ng-model="user.username" name="username" required/>
                </div>
            </div>
            
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 100px;">Password</span>
                    <input type="password" class="form-control" ng-model="user.password" name="password" required/>
                </div>           
            </div>
            
            <!--
            <div class="form-group">
                <label>
	               <input type="checkbox" ng-model="user.rememberme" name="rememberme"/>
	               Remember me
                </label>         
            </div>
            -->
				<div class="form-group" ng-show="error" style="margin-bottom: -15px; font-size: 14px;">
                    <div class="alert alert-danger">
					   {{error}}
                    </div>
				</div>
			</fieldset>

		
		</form>
        </div>
		
	</div>

	
	<div class="panel-footer text-right">
        <button type="button" class="btn btn-primary" ng-disabled="loginform.$invalid" ng-click="login()"><span spinner-when="is.saving"><span class="fa fa-unlock-alt"/>login</span></button>
	</div>

</div>



