
<div class="system-widget widget">

	<div class="widget-header">
		<div class="widget-header-wrapper">
		Sign Up
		</div>
	</div>
	
	<div class="widget-content">
	<div class="widget-content-wrapper">
	
		
		<form action="#" method="post">
		
			<fieldset>
				<div class="row">
					<label>Login</label>
					<input type="text" />
				</div>
				<div class="row">
					<label>Password</label>
					<input type="password"/>
				</div>
			</fieldset>
			
			<fieldset class="buttons">
				<button type="button">ok</button>
			</fieldset>
		
		</form>
		
		
	</div>
	</div>
	
	
	<div class="widget-footer">
	<div class="widget-footer-wrapper">
	
	</div>
	</div>

</div>



