
<div id="header">
	<div class="wrapper">
        <!--
		<div class="titlewrapper1">
			<div class="title">
				ЭТО АДМИНКА
			</div>
		</div>
		-->
		 <navigation-menu></navigation-menu>
        
        <!--
        <div style="position: absolute; top: 10px; right: 200px;">isLogged: {{Auth.isLogged}}</div>
        -->
	</div>	
</div>

<div id="main">

	<div id="main-wrapper">
        <div id="root-view-container" state-spinner>
            <div ng-hide="rootViewLoading">
                <ui-view></ui-view>
            </div>
            <!--
		  <div id="root-view" ui-view class="anim-in-out anim-slide-swap" data-anim-speed="1000"></div>
-->
        </div>
	</div>
</div>

<div id="footer">
<bindings-counter></bindings-counter>
fgsfds    
    

</div>