		
<header>
	<div class="nav">
		<a ui-sref-active="active" ui-sref="events">Список событий</a>
		<a ui-sref-active="active" ui-sref="todo">ToDo</a>
		<a ui-sref-active="active" ui-sref="fake_2c">Empty 2-columns page</a>
		<a ui-sref-active="active" ui-sref="system.login">Login</a>
		<a ui-sref-active="active" ui-sref="system.signup">Reg</a>
	</div>
	
	<div class="nav userbar">
		<auth-current-user-name></auth-current-user-name>
		<span class="clickable underline" auth-logout>[выход srvc]</span>
		<!-- 
		<span class="clickable underline" ui-sref="system.logout">[выход ctrl]</span>
		 -->
		
	</div>
	<global-throbber></global-throbber>
	
</header>	


	<div ui-view></div>