 <div>
	<div class="iconmenu submenu">
		<a id="change_mode" href="/api/auth/logout?next=/ngadmin" class="ever icon lock" title="Выход"><span class="fa fa-unlock-alt"/></a>
		<a  href="/" target="_blank" class="ever icon newwindow" title="На сайт"><span class="fa fa-share"/></a>
		<!-- 
		<a  href="/" class="ever icon newwindow" title="На сайт"><span class="fa fa-power-off"/></a>
		<a  href="/" class="ever icon newwindow" title="На сайт"><span class="fa fa-laptop"/></a>
		  -->
	</div>
	<div class="iconmenu">
	<!-- 
		<a ng-repeat="item in ::buttons" class="ever icon" ng-class="::item.icon"  ui-sref="{{::item.sref}}" ui-sref-active="active"></a>
		 -->
		<a ng-repeat="item in ::buttons" class="ever"  ui-sref="{{::item.sref}}" ui-sref-active="active">
			<span class="fa" ng-class="::item.icon"/>
		</a>
	</div>
		 
		 
</div>

