 <div>
	<div class="iconmenu submenu" ng-controller="auth.LogoutCtrl">
		<span class="ever icon lock" ng-click="logout()" title="Выход"><span class="fa fa-unlock-alt"/></span>
		<a  href="/" target="_blank" class="ever icon newwindow" title="На сайт"><span class="fa fa-share"/></a>

	</div>
	<div class="iconmenu">
        
		<a ng-repeat="item in ::buttons" class="ever"  ui-sref="{{::item.sref}}"  ng-if="item.enabled" ng-class="{active:$state.includes(item.include)}">
			<span class="fa" ng-class="::item.icon"/>
		</a>
	</div>
		 
		 
</div>

