<div id="all">
<div id="page">


    <ui-view></ui-view>


</div>
</div>
<!--
<option value="anim-fade">Fade</option>
<option value="anim-slide-left">Slide left</option>
<option value="anim-slide-right">Slide right</option>
<option value="anim-zoom-in">Zoom in subtle</option>
<option value="anim-zoom-out">Zoom out subtle</option>
<option value="anim-zoom-in-full">Zoom in full</option>
<option value="anim-zoom-out-full">Zoom out full</option>
<option value="anim-slide-below">Slide below</option>
<option value="anim-slide-below-fade">Slide below + fade</option>
<option value="anim-swap">None</option>
-->