<h1>{{ ::resolvedConfig.apps.blog.menu_name }}</h1>

<div class="blog">
    
    <div class="feed" ng-cloak>
        
        <div class="panel panel-default" ng-repeat="post in blog.posts">
                <div class="panel-heading">
                    <h2>{{::post.date_created | date:'dd MMM yyyy'}}: {{::post.title}} </h2>
                <div class="actions">
                <a class="btn-sm btn btn-default" 
                   ui-sref="blog.post({post_id: post.id})">
                    <span class="fa fa-pencil" />
                    Редактировать
                </a>          
                <button 
                        class="btn-sm btn btn-danger textless" 
                        confirmable-click="deletePost(post)">
                    <span class="fa fa-trash" />
                    
                </button>                               
                </div>
                </div>
            <div class="panel-body">
                <!--
                <div ng-show="::post.lead" ng-bind-html="post.lead | trust" />
-->
                <div ng-show="::post.lead" ta-bind ng-model="::post.lead" />
                <div ng-hide="::post.lead">
                    <p class="alert alert-warning" style="margin-bottom: 0;">
                        Вводного текста нет. <br/> 
                        По умолчанию вместо него будут показываться 40 первых слов 
                        основного текста (если конкретный сайт не настроен иначе).
                    </p>
                </div>
            </div>
        </div>
        
    </div>    
    
    <karhu-paginator total="{{blog.posts.paginator.count}}" pagesize="10" state="blog.list"></karhu-paginator>

    <div class="buttons">
        <a class="btn btn-default" ui-sref="blog.add"><span class="fa fa-plus"/>Новая запись</a>

        <!-- <a class="button" title="ui-icon-plusthick" ui-sref="blog_new">Новая запись</a>-->
    </div>
</div>