<h1>{{ ::resolvedConfig.apps.blog.menu_name }}</h1>

<div class="blog">
    
    <div class="feed" ng-cloak>
        
        <div class="panel panel-default" ng-repeat="post in blog.posts">
                <div class="panel-heading">
                    <h2>{{::post.date_created | date:'dd MMM yyyy'}}: {{::post.title}} </h2>
                <a class="btn btn-default pull-right" 
                   ui-sref="blog.post({post_id: post.id})">
                    <span class="fa fa-pencil" />
                    Редактировать
                </a>                    
                </div>
            <div class="panel-body">
                <!--
                <div ng-show="::post.lead" ng-bind-html="post.lead | trust" />
-->
                <div ng-show="::post.lead" ta-bind ng-model="::post.lead" />
                <div ng-hide="::post.lead">
                    <p class="alert alert-warning" style="margin-bottom: 0;">
                        Вводного текста нет. <br/> 
                        По умолчанию вместо него будут показываться 40 первых слов 
                        основного текста (если конкретный сайт не настроен иначе).
                    </p>
                </div>
            </div>
        </div>
        
    </div>    
    
    <div>
        <ul class="pagination">
            <li><a href="#">&laquo;</a>
            </li>
            <li><a href="#">1</a>
            </li>
            <li><a href="#">2</a>
            </li>
            <li><a href="#">3</a>
            </li>
            <li><a href="#">4</a>
            </li>
            <li><a href="#">5</a>
            </li>
            <li><a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
    <div class="buttons">
        <a class="btn btn-default" ui-sref="home"><span class="fa fa-mail-reply"/>Вернуться</a>
        <a class="btn btn-default" ui-sref="blog.post"><span class="fa fa-plus"/>Новая запись</a>

        <!-- <a class="button" title="ui-icon-plusthick" ui-sref="blog_new">Новая запись</a>-->
    </div>
</div>