<h1 ng-hide="post.id">Новая запись</h1>
<h1 ng-show="post.id">Редактирование записи</h1>
<div>

<form action="" name="form">

    <fieldset>
	
	<div class="row">
		<label>Заголовок записи {{post.id}}</label>
		<input type="text" ng-model="post.title" class="form-control" required/>
	</div>
	
	<div class="row">
		<label>Интро</label>
		<div class="note">
			Необязательное поле.<br/>
			Если его не заполнить, в качестве вводного текста будут показываться 40 первых слов текста основного (если конкретный сайт не настроен иначе).
		</div>
        <div text-angular ng-model="post.lead"></div>
        <!--
		<textarea ng-model="post.lead" class="form-control"></textarea>
-->
	</div>
	
	<div class="row">
		<label>Текст записи</label>
		<div class="elrte_default">
            <div text-angular ng-model="post.text"></div>
            <!--
			<textarea ng-model="post.text" class="form-control" required text-angular></textarea>
-->
		</div>
	</div>
</fieldset>


<div class="buttons">
    <a class="btn btn-default" ui-sref="blog.list">
        <span class="fa fa-mail-reply"></span>
        Вернуться к списку
    </a>
	<button type="button" 
            ng-disabled="form.$invalid"
            ng-click="save()" 
            class="btn btn-success">
        <span spinner-when="is.saving">
            <span class="fa fa-check" />
            Сохранить
        </span>
    </button>
	<button type="button"
            class="btn btn-danger" 
            confirmable-click="deletePost()">
        <span spinner-when="is.deleting">
            <span class="fa fa-trash"/>
            Удалить
        </span>
    </button>
</div>

</form>
				
	


    </div>