
<h1>{{ ::resolvedConfig.apps.gallery.menu_name }}</h1>
<div class="gallery_whole">
	    <div class="thumbnail" ng-repeat="folder in folders">
	    	<a class="img" ui-sref="gallery.folder({folder_id: folder.id})">
		      	<img ng-src="{{::folder.cover.url}}" alt="" ng-show="::folder.cover"/>
		   		<span ng-hide="::folder.cover">
		   			<image-placeholder  width="{{::config.cover_width}}" height="{{::config.cover_height}}"></image-placeholder>
		   		</span>
		   		<span class="badge">{{::folder.size}}</span>
	   		</a>	      
	      <div class="caption">
	        <h3>{{::folder.title}}</h3>

	      </div>
	    </div>
	



	<div class="buttons">
		<a class="btn btn-default" ui-sref="gallery.list"><span class="fa fa-mail-reply"/>Вернуться</a>
		<a class="btn btn-default" ui-sref="gallery.add_folder"><span class="fa fa-plus"/>Добавить папку</a>
        <modal-sort items="folders" map="{}" buttontext="Изменить порядок"></modal-sort>
	</div>
</div>