       <!-- 
       <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
         -->
        <div class="modal-body">
        	<div>
        		Вы уверены?
        	</div>
        
        <!-- 
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
             -->
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="$close('ok')">Да</button>
            <button class="btn btn-primary" ng-click="$dismiss('fail')">Пожалуй, нет</button>
        </div>