<span class="datepicker">
     <span class="input-group">
       <input type="text" 
       		class="form-control" 
       		datepicker-popup="dd.MM.yyyy" 
       		ng-model="date"
       		is-open="dp.opened" 
       		datepicker-options="dateOptions" 
       		close-text="Close" />
       <span class="input-group-btn">
         <button type="button" 
         		class="btn btn-default" 
         		ng-click="open($event)"><span class="glyphicon glyphicon-calendar"></span></button>
       </span>
     </span>	      	
</span>
