<div class="form-dropdown">
   <div class="btn-group" dropdown is-open="status.isopen">
     <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
       {{model.name}} <span class="caret"></span>
     </button>
     <ul class="dropdown-menu" role="menu">
     	<li ng-repeat="item in options" ng-click="setSelected(item)"><a href="#">{{item.name}}</a></li>
       <li class="divider" ng-hide="model.id === null"></li>
       <li ng-click="reset()" ng-hide="model.id === null"><a href="#">Очистить</a></li>
     </ul>
   </div>
</div>