<!--
<div class="modal-header">
	<h2 class="panel-title">Crop interface</h2>
</div>
-->

<div class="modal-body">
	<div class="crop-interface" style="position: relative">	
            <img src="{{image.source.url}}" alt="" croppable-image image="image" instance="cropInstance" />
        <br/>
	</div>
</div>

<div class="modal-footer">
    <button type="button" 
            ng-click="cleanupAndClose()"
            ng-disabled="is.saving"
            class="btn btn-default textless">
        <span class="fa fa-mail-reply"></span>
    </button>
	<button type="submit" 
            class="btn btn-success textless" 
            ng-disabled="!is.valid || is.saving"
            ng-click="crop()">
        
        <span spinner-when="is.saving"><span class="fa fa-check ng-scope"></span></span>
    </button>
</div>	
