

	{{items | json}}
	<div class="modal-actions">
        <!--
		<button type="button" class="btn btn-default textless" ng-click="$dismiss()"><span class="fa fa-close" /></button>
        -->
	</div>

<div class="sorting_interface">	
	<div class="modal-body">
		
        {{items | json}}
        
        
		<div class="some_note">Измените порядок объектов, перетаскивая их.</div>
		<ul ui-sortable="sortableOptions" class="items" ng-model="items">
			<li id="item_{{item.id}}" class="item" ng-repeat="item in items">{{item.text}}</li>
		</ul>
	</div>
</div>

		
	<div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$dismiss()"><span class="fa fa-mail-reply"/>Отменить</button>
		<button type="button" class="btn btn-success" ng-click="$close()"><span class="fa fa-check"/>Сохранить</button>
	</div>	

