<div class="modal-header">
    <h2>{{settings.title}}</h2>
</div>
<div class="modal-body">

    
    <form name="form">
        <div class="form-group" ng-repeat="field in settings.fields">
            <label class="form-label">{{field[1]}}</label>
            <input type="text" ng-model="object[field[0]]" class="form-control"/>
        </div>        
    </form>

</div>

<div class="modal-footer">
    <button type="button" 
            class="btn btn-default" 
            ng-click="$dismiss()" 
            ng-disabled="is.saving">
        <span class="fa fa-mail-reply"/>
        Отменить
    </button>        
    <button type="button" 
            class="btn btn-success" 
            ng-disabled="form.$invalid"
            ng-click="save()">
        <span spinner-when="is.saving">
            <span class="fa fa-check"/>
            Save
        </span>
    </button>
</div>
