    <form name="itemAddForm">
<div class="modal-header">
    <h2>{{settings.title}}</h2>
</div>
<div class="modal-body">

    

        <div class="form-group" ng-repeat="field in settings.fields">
            <label class="form-label required">{{field[1]}}</label>
            <input type="text" ng-model="object[field[0]]" class="form-control" required/>
        </div>        
    
    

</div>

<div class="modal-footer">
    <button type="button" 
            class="btn btn-default" 
            ng-click="$dismiss()" 
            ng-disabled="is.saving">
        <span class="fa fa-mail-reply"/>
        Отменить
    </button>        
    <button type="submit" 
            class="btn btn-success" 
            ng-disabled="itemAddForm.$invalid"
            ng-click="save()">
        <span spinner-when="is.saving">
            <span class="fa fa-check"/>
            Добавить
        </span>
    </button>
</div>

</form>