    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <div ng-show="pages_count.length > 1">
        <ul class="pagination">
            <!--
            <li><a href="{{blog.paginator.prev}}">&laquo;</a>
-->
            </li>
            <li ng-repeat="page in pages_count track by $index" ng-class="{active: isActive($index)}">
                <!--- <a ui-sref="blog.list({page: $index + 1})">{{$index+1}}</a> -->
                <a ui-sref="{{state}}({page: $index + 1})">{{$index+1}}</a>
            </li>
        <!--
            <li><a href="{{blog.paginator.next}}">&raquo;</a>
            </li>
-->
        </ul>
    </div>