<table class="album-songs-list" ng-show="::songs">

    <tr ng-repeat="song in ::songs">

    <td class="edit">
        <a ui-sref="music.song({song_id: song.id})" class="btn btn-default glyph-only"><span class="glyphicon glyphicon-pencil"></span></a>

        <span ng-show="::song.lyrics">
        <a ng-click="showLyrics(song)" class="btn btn-default glyph-only"><span class="glyphicon glyphicon-file"></span></a>

        </span>
    </td>					
    <td>{{::song.title}}</td>

    <td class="player" ng-show="::song.mp3">
        <div class="player">
            <mp3-player mode="single" music="::song.mp3" width="200" height="22"></mp3-player>
        </div>
    </td>

    </tr>
    <tr>
        <td colspan="3">
            <a class="btn btn-default" ui-sref="music.add_song({album_id: album.id})"><span class="glyphicon glyphicon-plus"></span> Добавить песню</a>
        </td>
    </tr>
</table>