
<div class="album_edit">


<fieldset>
<div style="">
<p>
</p>
</div>
<div class="form-group">
<label clas="control-label">Название</label>
<input type="text" class="form-control" ng-model="album.title"/>
</div>


<div class="cover form-group">

<label>Обложка</label>

<div ng-show="album.cover">
	
	<span class="image">
	<img ng-src="{{album.cover}}" alt=""/>
	<button class="btn btn-danger glyph-only" confirmable-click="clearCover()"><span class="glyphicon glyphicon-trash"></span></button>
	</span>
	
	<button style="margin-top: 1em; display: block;" id="summon_crop" class="btn btn-default">Вырезать другой фрагмент</button>

</div>

<div style="margin-top: 1em;">
<input type="file" class="form-control" nv-file-select uploader="uploader"/>
</div>

</div>
</fieldset>

<!-- 
<script type="text/javascript">
	$('#summon_crop').areCropButtons({
			reloadImage: '.cover img'
		});

	$('input:file').fileinput({
		buttonText: 'Загрузить',
		inputText: 'Сменить обложку...'
	});
	
</script>
-->

<div class="buttons">
<a class="btn btn-default" ui-sref="music.list"><span class="fa fa-mail-reply"/>Вернуться</a>
<button type="button" class="btn btn-success" ng-click="save()" spinner-when="is.saving"><span class="fa fa-check"/>Сохранить</button>
<!-- 
<button type="button" class="btn btn-primary" ng-click="upload()" spinner-when="is.saving">Upload</button>
 -->
<button type="button" class="btn btn-danger" confirmable-click="deleteAlbum()" ng-show="album.id"><span spinner-when="is.deleting"><span class="fa fa-trash"/>Удалить альбом (и все его песни)</span></button>


</div>

</form>

				
	
</div>

