
<div class="music">
	<h1>{{ ::resolvedConfig.apps.music.menu_name }}</h1>

    
    <div style="font-size: 1.2em;margin-bottom: 2em;">
    <p class="alert-default alert">
        Если вас смущает слово "альбом" (которое было бы уместно не во всех случаях), можете мысленно
        заменить его на "список", например. 
        <br/>
        Здесь этот термин обозначает просто условную группу песен, объединённую каким-либо названием.
    </p>
    </div>


    
<div class="horizontal sortable-container overlay-caption-thumbnails"
     style="position: relative"
     data-as-sortable="sortableOptions"
     ng-model="$parent.albums">
	    <a class="thumbnail clickable" 
           data-as-sortable-item 
           ng-repeat="album in $parent.albums" 
           ng-class="{processing: album.local.saving}"
           ui-sref="music.album({album_id: album.id})">
            <span class="thumbnail-spinner fa fa-spinner fa-spin" style="line-height: {{::config.thumbnail_height}}px"></span>
	    	<span class="img">
		      	<img ng-src="{{::album.cover.thumbnail.url}}" alt="" ng-show="::album.cover"/>
		   		<span ng-hide="::album.cover">
		   			<image-placeholder icon="music" width="{{::config.thumbnail_width}}" height="{{::config.thumbnail_height}}"></image-placeholder>
		   		</span>
		   		<span class="badge">{{::album.songs.length}}</span>
	   		</span>	      
            <button type="button"
                    data-as-sortable-item-handle
                    class="btn btn-default textless movebutton btn-sm">
                    <span class="fa fa-arrows"></span>
            </button>    
	      <span class="caption">
	        <h3>{{::album.title}}</h3>

	      </span>
            
	    </a>
    
	    <div class="thumbnail clickable adding-item" modal-item-add="modalItemAddSettings">
	    	<span class="img"  style="width: {{::config.thumbnail_width}}px; height: {{::config.thumbnail_height}}px">
                <span class="glyphicon glyphicon-plus-sign" style="line-height: {{::config.thumbnail_height}}px"></span>
	   		</span>	      
	    </div>    
</div>    

    
</div>
