
<h1 ng-show="song.title">{{::song.title}}</h1>
<h1 ng-hide="song.id">Новая песня</h1>

<div class="song" ng-cloak>

<div style="width: 450px">

<div class="form-group">
	<label class="control-label">Название</label>
	<input type="text" ng-model="song.title" class="form-control" required/>
</div>


<div class="form-group">
	<label class="control-label">Альбом</label>
	<form-dropdown options="albums" model="local.selectedAlbum" textfield="title"></form-dropdown>
</div>
	
	
<div class="form-group">
	<label class="control-label">Файл</label>
	 
    <span style="float: left;margin-right: 2em;"  ng-show="song.mp3">
        <mp3-player mode="single" music="song.mp3" height="28"></mp3-player>
        <button type="button" class="btn btn-danger" confirmable-click="clearMp3()">
            <span spinner-when="is.clearingMp3">
                <span class="fa fa-trash"/>Удалить
            </span>
        </button>           
    </span>
    <span style="float: left">
        <input type="file" bootstrap-file-input bfi-title="Загрузить" class="form-control" nv-file-select uploader="uploader"/>
     
    </span>
</div>

<div class="form-group">
	<label class="control-label">Текст</label>
	<textarea class="form-control" ng-model="song.lyrics" style="height: 300px;"></textarea>
</div>

<div class="buttons">
	
	<a class="btn btn-default" ui-sref="music.album({album_id: song.album})"><span class="fa fa-mail-reply"></span>К альбому</a>
	<button type="button" 
            class="btn btn-success" 
            ng-click="save()" 
            spinner-when="is.saving" 
            ng-disabled="!(song.title&&song.album)">
        <span class="fa fa-check"/>
        Сохранить
    </button>

	<button type="button" class="btn btn-danger" confirmable-click="deleteSong()" ng-show="song.id"><span spinner-when="is.deleting"> <span class="fa fa-trash"/>Удалить</span></button>
</div>

</div>
	
</div>
