<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% load staticfiles %}
<head>
	<title>Karhu.admin</title>
	<meta name="keywords" content=""/>
	
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<link href="{% static 'adminstatic/css/basic.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'adminstatic/css/template.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'adminstatic/css/pages.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'adminstatic/css/kustom.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'adminstatic/css/fileinput.css' %}" rel="stylesheet" type="text/css" />
	
	<link href="{% static 'adminstatic/css/entypo.css' %}" rel="stylesheet" type="text/css" />
	
	<link href="{% static 'adminstatic/css/colorbox/colorbox.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'adminstatic/elrte-1.3/css/elrte.min.css' %}" rel="stylesheet" type="text/css" />
	
	<link href="{% static 'adminstatic/css/imgareaselect/imgareaselect-default.css' %}" rel="stylesheet" type="text/css" />
	<!-- 
	<link href="{% static 'adminstatic/css/smoothness/jquery-ui-1.8.9.custom.css' %}" rel="stylesheet" type="text/css" />
	 -->
	
	
	
	<link href="{% static 'adminstatic/css/skin1.css' %}" rel="stylesheet" type="text/css" />
	
	<!-- 
	<script type="text/javascript" src="{% static 'adminstatic/js/libs/jquery-1.6.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'adminstatic/js/libs/jquery-ui-1.8.9.custom.min.js' %}"></script>
	 -->
	<script type="text/javascript" src="{% static 'adminstatic/js/libs/jquery.1.11.0.js' %}"></script>
	<script type="text/javascript" src="{% static 'adminstatic/jquery-ui-1.10.4/js/jquery-ui-1.10.4.custom.min.js' %}"></script>
	
	
	<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
	
	<link href="{% static 'adminstatic/jquery-ui-1.10.4/css/custom-theme/jquery-ui-1.10.4.custom.min.css' %}" rel="stylesheet" type="text/css" />



	<script type="text/javascript" src="{% static 'adminstatic/js/libs/jquery.imgareaselect.pack.0.9.8.js' %}"></script>
	<!-- 
	<script type="text/javascript" src="{% static 'adminstatic/js/libs/jquery.form.2.82.js' %}"></script>
	 -->
	<script type="text/javascript" src="{% static 'adminstatic/js/libs/jquery-form.3.50.js' %}"></script>
	<script type="text/javascript" src="{% static 'adminstatic/js/libs/jquery.fileinput.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'adminstatic/js/libs/jquery.multiselect.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'adminstatic/js/libs/jquery.colorbox-1.3.17.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'adminstatic/elrte-1.3/js/elrte.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'adminstatic/elrte-1.3/js/i18n/elrte.ru.js' %}"></script>
	<script type="text/javascript" src="{% static 'adminstatic/elrte-1.3/js/elRTE.options.js' %}"></script>

	
	<script type="text/javascript" src="{% static 'adminstatic/js/common_scripts.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'adminstatic/js/admin.js' %}"></script>
	<link href="{% static 'adminstatic/css/login.css' %}" rel="stylesheet" type="text/css" />

	
	
</head>
<body>


{% load cache %}
{% load owntags %}


<div id="all">
<div id="page">


<div id="header">
	<div class="wrapper">
		<div class="titlewrapper1">
		<div class="title">
			ЭТО АДМИНКА
			
		</div>
		</div>
		
		{% include 'admin/widgets/menu-icons.html' %}
		
		
		
		
	</div>	
</div>

<div id="main">

	<div id="main-wrapper">
			{% block content %}
			{% endblock %}
	</div>
</div>

<div id="footer">
fgsfds

</div>



</div>
</div>



</body>
</html>


