<h1>{{ ::resolvedConfig.apps.lineup.menu_name }}</h1>


<div class="lineup">
	<div ng-repeat="person in lineup" class="item"  style="margin-left: {{::config.thumbnail.width}}px">
		
		<div class="img" style="margin-left: -{{::config.thumbnail.width}}px">
			<a ui-sref="lineup.person({person_id: person.id})">
    			<img ng-show="::person.photo" ng-src="{{::person.photo.thumbnail.url}}" alt="{{::person.name}} photo"/>
    			<span ng-hide="::person.photo">
    				<image-placeholder width="{{::config.thumbnail.width}}" height="{{::config.thumbnail.height}}"></image-placeholder>
    			</span>
			</a>
			
		</div>	
		<div class="info">
			<div class="name">{{::person.name}}</div>
			<div class="role">{{::person.role}}</div>
			<div class="notes">
                <div class="note" ng-repeat="note in notes | where: {person:person.id}">
					<span class="topic" ng-repeat="topic in topics | where:{id:note.topic}">{{::topic.title }}</span>:
					<span class="text">{{:: note.text }}</span>
				</div>
			</div>
		</div>
		
	</div>
				
</div>    
    
	<div class="buttons">
		<a class="btn btn-default"ui-sref="home"><span class="fa fa-mail-reply"/>Вернуться</a>
        <a class="btn btn-default" title="ui-icon-plusthick" ui-sref="lineup.person"><span class="fa fa-plus"></span>Добавить</a>
        <button type="button"
                class="btn btn-default"
                modal-sort
                items="lineup" 
                display="name" 
                then="sortingDone" 
                button="Изменить порядок">
            <span class="fa fa-list"/>
            Изменить порядок
        </button>
		
		
	</div>


