<h1>{{ ::resolvedConfig.apps.lineup.menu_name }}</h1>

<div class="lineup">
	<div ng-repeat="person in lineup" class="item"  style="margin-left: {{::config.thumbnail.width}}px">
		
		<div class="img" style="margin-left: -{{::config.thumbnail.width}}px">
			<a ui-sref="lineup.person({person_id: person.id})">
    			<img ng-show="::person.photo" ng-src="{{::person.photo}}" alt="{{::person.name}} photo"/>
    			<span ng-hide="::person.photo">
    				<image-placeholder width="::config.thumbnail.width" height="::config.thumbnail.height"></image-placeholder>
    			</span>
			</a>
			
		</div>	
		<div class="info">
			<div class="name">{{::person.name}}</div>
			<div class="role">{{::person.role}}</div>
			<div class="notes">
                <div class="note" ng-repeat="note in notes | where: {person:person.id}">
					<span class="topic" ng-repeat="topic in topics | where:{id:note.topic}">{{::topic.title }}</span>:
					<span class="text">{{:: note.text }}</span>
				</div>
			</div>
		</div>
		
	</div>
				
	<div class="buttons">
		<a class="btn btn-default"ui-sref="home"><span class="glyphicon glyphicon-arrow-left"/>Вернуться</a>
		<modal-sort items="lineup" map="lineupSortableMapping" buttontext="Изменить порядок"></modal-sort>
		<a class="btn btn-primary" title="ui-icon-plusthick" ui-sref="lineup.person">
			<span class="glyphicon glyphicon-plus"></span>
			Добавить
		</a>
		
	</div>
</div>

