
<div class="person col-lg-6 col-md-8 col-sm-10 col-xs-12">

    <form name="personform" action="" method="post" style="clear: both">

    
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Главное</h3>    
    </div>
    <div class="panel-body">
        <div class="cover overlay-caption-thumbnails">
            <span class="thumbnail"
                  ng-class="{processing: is.processing_photo}">
                <span class="thumbnail-spinner fa fa-spinner fa-spin" style="line-height: {{::config.thumbnail.height}}px"></span>
                <span class="img">
                    <span  ng-show="person.photo">
                        <img  id="cover" ng-src="{{person.photo.thumbnail.url}}" alt="" style="display: block;max-width: 100%;"/>
                            <button type="button" 
                                    class="btn btn-default  btn-sm textless" 
                                    style="position: absolute;right: 5px; top: 5px;"
                                    modal-crop 
                                    mc-source="person.photo.source.url" 
                                    mc-width="config.thumbnail.width"
                                    mc-height="config.thumbnail.height"
                                    mc-on-submit="cropImage">
                            <span class="fa fa-cut"></span>
                        </button>
                    </span>

                    <image-placeholder ng-hide="person.photo" icon="user" width="{{::config.thumbnail.width}}" height="{{::config.thumbnail.height}}"></image-placeholder>
        
                </span>
            </span>

        </div>
        <div style="float: left; widtH: 250px;">
            <div class="form-group">
                <label class="form-label">Имя</label>
                <input type="text" ng-model="person.name" class="form-control"/>
            </div>

            <div class="form-group">
                <label class="form-label">Роль</label>
                <input type="text" ng-model="person.role" class="form-control"/>
            </div>

            <div class="form-group">
                <input type="file" bootstrap-file-input bfi-text="Загрузить портрет" nv-file-select uploader="uploader" class="form-control"/>
            </div>

        </div>
    </div>
</div>

	
        <lineup-notes-list person="person"></lineup-notes-list>


<div class="buttons">
    <a class="btn btn-default" ui-sref="lineup.list">
        <span class="fa fa-mail-reply"></span>
        Вернуться к списку
    </a>
    <span class="btn btn-success" type="button"  ng-click="savePerson()" spinner-when="is.saving"><span class="fa fa-check"/>Сохранить</span>
    <span class="btn btn-danger" confirmable-click="removePerson()"><span spinner-when="is.deleting"><span class="fa fa-trash"/> Удалить</span></span>
</div>

</form>

				
	
</div>