
.strike {
	text-decoration: line-through;
	}
label {
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 0.2em;
	}
a.button, a.ui-button {
	color: inherit;
	
	}
		
#all .icon-only {
	overflow: hidden;
	/* if not, there is ugly dotted rectangles when clicked */
		
	}


	
/*---------------------*/

.lineup {
}

.lineup .item {
	margin-bottom: 2em;
	clear: both;
	float: left;
}

	
.lineup .item .name {
	font-size: 2em;
	line-height: 100%;
	}

.lineup .item .role {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0.1em;
	}

.lineup .item .img {
	float: left;
}


.lineup .item .info{
	float: left;
	margin-left: 2em;
	margin-bottom: 2em;
	}

.lineup .item .notes .note {
	margin-bottom: 0.1em;
	}

.lineup .item .notes .topic{
	font-weight: bold;
}

.lineup .item .notes .text{
}

/*--------------------------*/
.person {
	}

.person fieldset {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 0.1em solid #f5f4eb;
	}
	
	
.person label {
	display: block;
	margin-bottom: 0.2em;
	}
	
 	
		
.person .img{
	clear: both;
	}
	
.person .img img{
	display: block;
	clear: both;
	float: left;
	margin-bottom: 1em;	
	}
	
.person .img .help{
	float: left;
	margin-left: 2em;
	width: 600px;
	}
	
.person .info {
	
	}
	
.person .notes  {
	position: relative;
	}	
.person .notes table {
	margin: 1em 0;
	float: left;
	}	
.person .notes tr {
	margin-bottom: 1em;
	}

.person .notes textarea {
	width: 20em;
	height: 5em;
	}
.person .add_topic_form {
	margin-top: 0.3em;
	clear: both;
	}	

.person .add_topic_form input{
	}	

.person .add_topic_form button {
	}	

.person .notes .help {
	float: left;
	margin-top: 1.2em;
	width: 27em;
	}
/*----------------------------*/
.events {

	}
	
.events table {
	border: 0.1em solid #efefef;
	 font-size: 1.2em;
	}
	
.events tr{
	border-bottom: 0.1em solid #efefef;
	}
	
.events td{
	padding: 0.7em 0.5em;
	text-align: left;
	vertical-align: top;
	width: 0;
	}
.events .year {
	font-size: 1.2em;
	padding: 0.5em 1em;
	background: #FFFEFB;
	background: #EDEDED;
	}

.events .month {
	border-right: 0.1em solid #EFEFEF;
	vertical-align: top;
	text-align: left;
	padding: 0.2em 1em;
	width: 0;
	}
	
	
.events .date{
	width: 7em;
	min-width: 7em;
	}
	
.events .title {
	width: 20em;
	min-width: 15em;
	}

.events .place{
	min-width: 15em;
	}
.events .info{
	width: 40em;
	}

.events .actions {
	widtH: 3em;
	font-size: 0.8em;
	}
	
.event table {
	margin: 1em 0;
	}

.event th {
	vertical-align: top;
	padding: 0.5em 2em 0.5em 0;
	}

.event td {
	padding: 0.5em 1em;
	}
.event input{
	width: 20em;
}
.event .date input, .dateWidget input {
	width: 6em;
}
.dateWidget .actualDate {
	display: none;
}
/*-------------*/
.music .feed {
	}

.music .feed .album {
	margin-bottom: 1em;
	padding-bottom: 1em; 
	float: left;
	clear: both;
	}

.music .feed .album .left {
	float: left;
	overflow: hidden;
	text-align: center;
	}


.music .feed .album .songs  .icon-only {
	width: 20px;
	height: 20px;
	}
	
	
.music .feed .right{
	float: left;
	padding-bottom: 2em;
	margin-left: 2em;
	position: relative;
	}

.music .feed .album .edit_buttons {
	padding: 1em 0;
	border-top: 1px dashed #cccccc;
	float: left;
	clear: both;
	margin-top: 1em;
	}
	
.music .feed .album .album_title{
	font-size: 2em;
	margin-bottom: 0.5em;	
	clear: both;
	font-family: times New Roman;
	}

.music .feed .songs .song_title {
	padding-right: 1em;
	font-size: 1.3em;
	}

.music .feed .songs td {
	padding: 0.1em 0.5em;
	}

.music .feed .songs .help {
	display: none;
	}
	
.songs_sort {
	padding: 1em 2em;
	display: none;
	}

.songs_sort .url {
	display: none;
	}
.songs_sort .some_note {
	padding-bottom: 0.5em;
	font-style: italic;
	line-height: 110%;
	font-size: 0.9em;
	}	
.songs_sort .item {
	padding-bottom: 0.1em;
	cursor: pointer;
	
	}
	
.album_edit input {
	width: 20em;
	} 
.album_edit .cover img {
	display: block;
	}	

.album_edit .cover input {
	width: auto;	
	}	
/*----------------------------*/
.blog .feed .item {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 0.1em dotted silver;
	padding-left: 4em;
	position: relative;
	}

.blog .feed .item .actions {
	position: absolute;
	left: 0;
	top: 0;
	}
	
.blog .feed .item .roof  {
	font-size: 1.2em;
	}
	
.blog .feed .item .date {
	width: 14em;
	display: block;
	font-style: italic;
	}
	
.blog .feed .item .title {
	font-weight: bold;
	font-size: 1.2em;
	}
	
	
.blog .feed .item .moar{
	}
	
.blog .feed .item .lead {
	font-size: 1.4em;
	margin-top: 0.4em;
	}
	

/*------------------------------*/

.gallery_whole {
}

.gallery_whole .item {
	position: relative;
	padding-left: 4em;
	margin-bottom: 2em;
	width: 100%;
	float: left;
}

.gallery_whole .actions {
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
}

.gallery_whole .actions .button{
	display: block;
	margin-bottom: 0.5em;
}

.gallery_whole .item .img{
	float: left;
	margin-right: 2em;
	text-align: left;
	text-decoration: none;
}

.gallery_whole .item .info{
	float: leftl;
}

.gallery_whole .item .info .title{
    font-family: times New Roman;
    font-size: 1.8em;
}

.gallery_whole .item .info .size {
	font-size: 1.2em;
	}
.gallery_whole .item .info .size  strong{
	font-size: 1.2em;
	}

.gallery_whole {
}


/*--*/

.folder_edit {
	}

.folder_edit .folder_itself .cover{
	}

.folder_edit .folder_itself .cover .info {
	}

.folder_edit  .title_input input {
	width: 17em;
	} 
.folder_edit  .folder_itself select {
	width: 15.2em;
	}
.folder_edit  .folder_itself textarea{
	width: 40em;
	}


.folder_edit .photos{
	clear: both;
	border-top: 0.1em dashed #dddbdb;
	padding-top: 1em;
	}

.folder_edit .photos .item {
	display: block;
	float: left;
	margin: 0.5em;
	text-align: center;
	position: relative;
	}

.folder_edit .photos .item .wrapper {
	background: #f2f2f2;
	padding: 1em;
	float: left;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	}

.folder_edit .photos .item .panel {
	width: 15em;
	}

.folder_edit .photos .item .panel .left{
	float: left;
	}

.folder_edit .photos .item .panel label{
	float: right;
	margin: 0;
	margin-left: 0.3em;
	}


.folder_edit .photos .cover .wrapper{
	background: #dae7ed;
	}

.folder_edit .photos label {
	cursor: pointer;
	} 
.folder_edit .photos .item .img {
	display: block;
	overflow: hidden;
	margin-bottom: 0.5em;
	
	
	}
.folder_edit .photos .item img {
	display: block;
	margin: 0 auto;
	}

.folder-edit_folder-list {
	position: absolute;
	background: white;
	border: 0.1em solid gray;
	min-width: 100px;
	min-height: 100px;
	}
	
.folder-edit_folder-list .item {
	font-size: 1.2em;
	padding: 0.3em 1em;
	cursor: pointer;
	}	
.folder-edit_folder-list .item:hover {
	background: #f2f2f2;
	}	

.folder-edit_folder-list .close {
	clear: both;
	text-align: right;
	padding: 1em 1em 0.5em 1em;
	
	}
.folder-edit_folder-list .close span:hover  {
	cursor: pointer;
	color: red;
	}	
/*-*/

/*------------------------*/
.slots_and_pagelets {
	}

.slots_and_pagelets .items .item{
	border: 0.1em #f1f0f0 solid;
	margin-bottom: 1em;
	
	background: linear-gradient(top, #F1F0F0 2em, white, white);
	background: -webkit-linear-gradient(top, #F1F0F0 2em, white, white);
	background: -o-linear-gradient(top, #F1F0F0 2em, white, white);
	background: -moz-linear-gradient(top, #F1F0F0 2em, white, white);
	
	
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	}

.slots_and_pagelets .slots, .slots_and_pagelets .pagelets {
	/*
	background: linear-gradient(right top , #F1F0F0, white 12em);
	background: -moz-linear-gradient(right top , #F1F0F0, white 12em);
	background: -o-linear-gradient(right top , #F1F0F0, white 12em);
	background: -webkit-linear-gradient(right top , #F1F0F0, white 12em);
	background: -ms-linear-gradient(right top , #F1F0F0, white 12em);
	*/
	border-radius: 0.4em;
	---padding-right: 2%;
	padding-top: 1.7em;
	width: 48%;
	float: left;
}

.slots_and_pagelets .slots{
	float: right;
	
	}		

.slots_and_pagelets h2 {
	float: left;
	margin-right:0.6em;
	}
.slots_and_pagelets .toproof {
	text-align: right;
	padding-right: 0.6em;
	}	
.slots_and_pagelets .pagelets {
	
	
	}			

.slots_and_pagelets .slot .body strong {
	}

.slots_and_pagelets .items{
	margin-top: 1em;
	}
.slots_and_pagelets .roof{
	background: #f1f0f0;
	background: none;
	padding: 0.8em 1em;
	padding-right: 4em;
	position: relative;

	
	}
.slots_and_pagelets .roof .title{
	font-size: 1.4em;
	font-weight: bold;
	text-shadow: 3px 2px 5px rgba(0,0,0,0.2);
}	
	
.slots_and_pagelets .roof .actions {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	}	
.slots_and_pagelets .item .body{
	padding: 1em;	
	overflow: hidden;
	font-size: 1.2em;
}


.pagelet_edit input {
	width: 20em;
}
		
.pagelet_edit textarea {
	width: 40em;
}

.pagelet .in_slot li {
	margin-bottom: 0;
	}
		

/*---------*/
.delete_confirmation .wrapper {
	position: relative;
	font-size: 1.4em;
	margin-bottom: 1em;
	padding: 0.4em 2.2em;
	border: 0.1em solid #cd0a0a; 
	float: left; 
	clear: both; 
	background: none;
	}
.delete_confirmation .ui-icon {
	position: absolute; 
	top: 8px; 
	left: 9px;
	}			
	
	
#indexpage .cards {
	padding: 4em 0;
	float: left;
	width: 100%;
}

#indexpage .cards .card {
	position: relative;
	padding: 1em 2em 1em 9em;
	border: 2px solid #5783AF;
	border-radius: 5px;
	width: 30em;
	float: left;
	margin-bottom: 2em;
	margin-left: 2em;
	text-decoration: none;
	min-height: 7em;
	min-height: 9.3em;
}

#indexpage .cards .icon {
	position: absolute;
	lefT: 0;
	top: 0;
	font-size: 9em;
}

#indexpage .cards .title {
	font-size: 1.6em;
	font-weight: bold;
	display: block;
	margin-bottom: 0.2em;
}

#indexpage .cards span {
	color: #5783AF;

	}
#indexpage .cards .note {
	font-size: 1.2em;
	color: #6F737F;
}

#indexpage .cards {
	
}
